{% extends 'users/layout.html' %}

{% block content %}
    <form action="{% url 'users:register' %}" method="post">
      {% csrf_token %}
    {% for field in form %}
      <div>{{ field.label_tag }} {{ field }}</div>
      {% if field.errors %}
      <div class="error">{{ field.errors }}</div>
      {% endif %}
    {% endfor %}
    {% if form.non_field_errors %}
    <div class="error">
      <ul>
        {% for err in form.non_field_errors %}
          <li>{{ err }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div class="submit">
      <button type="submit" name="button">Register</button>
    </div>
    </form>
{% endblock %}
