.error{
  background: red;
  color: white;
  padding: 10px 20px;
}
.success{
  background: green;
  color: white;
  padding: 10px 20px;
}
.navbar-nav{
  float: right !important;
  margin-right: 40px !important;
}
.nav-link{
  margin-right: 10px;
}
.comment, .comment_form{
  margin-left: 25px;
}
