<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
  </head>
  <body>
    <form method="post" action="/animals">
      <input type="text" name="name" value="<%= name %>">
      <input type="text" name="age" value="<%= age %>">
      <button type="submit" name="button">Submit</button>
    </form>
    <% if(typeof(errors) != 'undefined' ){ %>
      <% for(var i =0; i<errors.length; i++) { %>
        <h3><%= errors[i] %></h3>
      <% } %>
    <% } %>
    <form action="animals/delete/<%= age %>" method="post">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
