<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show</title>
  </head>
  <body>
    <%= name %>
    <%= age %>
  </body>
  <form action="delete/<%= _id %>" method="post">
    <button type="submit" name="button">Submit</button>
  </form>
</html>
