<navigation></navigation>
<h1>Registration</h1>
<form name='registerForm' novalidate ng-submit="registerForm.$valid && register()">
  <div class="field">
    <label>Email</label>
    <!-- Delay model update with ng-model-options="{ debounce: 500 }" -->
    <input ng-model='email' type="email" name="email" required>
    <div ng-messages="registerForm.email.$error" multiple>
      <div ng-message="required">Please enter your email.</div>
      <div ng-message="email">Please enter a valid email address.</div>
      <div ng-if='email_exists'>Email already exists, please login.</div>
    </div>
  </div>
  <div class="field">
    <label>First Name</label>
    <input ng-model='first_name' type="text" name="first_name" required>
    <div ng-if='registerForm.$submitted' ng-messages="registerForm.first_name.$error">
      <div ng-message="required">Please enter your first name.</div>
    </div>
  </div>
  <div class="field">
    <label>Last Name</label>
    <input ng-model='last_name' type="text" name="last_name" required>
    <div ng-if='registerForm.$submitted' ng-messages="registerForm.last_name.$error">
      <div ng-message="required">Please enter your last name.</div>
    </div>
  </div>
  <div class="field">
    <label>Password</label>
    <input ng-model='password' ng-minlength='1' type="password" name="password" required>
    <div ng-if='registerForm.$submitted' ng-messages="registerForm.password.$error">
      <div ng-message="required">Please enter your password.</div>
      <div ng-message="minlength">Password needs to be of 1 character</div>
    </div>
  </div>
  <div class="field">
    <label>Confirm Password</label>
    <input pwconfirm ng-model='password_confirm' type="password" name="password_confirm" required>
    <div ng-if='registerForm.$submitted' ng-messages="registerForm.password_confirm.$error">
      <div ng-message="required">Please enter your password again.</div>
      <div ng-message="pwconfirm">Make sure this matches the pw above.</div>
    </div>
  </div>
  <div class="field">
    <label>Birthday</label>
    <input ng-model='birthday' type="date" name="birthday" required>
    <div ng-if='registerForm.$submitted' ng-messages="registerForm.birthday.$error">
      <div ng-message="required">Please enter your birthday.</div>
    </div>
  </div>
  <button type="submit">Register</button>
</form>
<h1>Login</h1>
<form name='loginForm' ng-submit='loginForm.$valid && login()'>
  <div class="field">
    <label>Email</label>
    <input ng-model='login_email' type="email" name="email" required>
    <div ng-messages="loginForm.email.$error" multiple>
      <div ng-message="required">Please enter your email.</div>
    </div>
  </div>
  <div class="field">
    <label>Password</label>
    <input ng-model='login_password' type="password" name="password" required>
    <div ng-if='loginForm.$submitted' ng-messages="loginForm.password.$error">
      <div ng-message="required">Please enter your password.</div>
    </div>
  </div>
  <button type="submit">Login</button>
</form>
<p>{{ authFail }}</p>
<a href ng-click='logout()' ng-show='currentUser'>Logout</a>
