body{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: red;
}
.container{
  width: 80%;
}
.form{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px 80px;
  background: black;
  border-radius: 40px;
}
#register_form{
  padding: 20px;
  background: #EEEEEE;
  border-radius: 20px;
  text-align: left;
  width: 40%;
  margin-right: 10px;
}
#login_form{
  padding: 20px;
  background: #EEEEEE;
  border-radius: 20px;
  text-align: left;
  width: 40%;
  margin-right: 10px;
  overflow: hidden;
}
#login_form button{
  margin-bottom: 5px;
}
#register_form button{
  margin-top: 5px;
}
button{
  padding: 10px 20px;
  background: red;
  color: white;
  font-size: 16px;
  border-radius: 15px;
}
.field > button{
  text-align: center !important;
}
.submit{
  text-align: center;
}
.flashes{
  text-align: left;
}
.flashes ul{
  padding-left: 0px;
}
.error_list{
  padding-left: 5px;
  margin: 0px;
  width: 90%;
}
.error{
  list-style: none;
  color: red;
  font-size: .8em;
}
.success{
  color: green;
}
.register, .login{
  color: red;
  font-size: .8em;
}
@media screen and (max-width: 700px){
  .container{
    width: 80%;
  }
  form{
    padding: 40px;
  }
  button{
    font-size: .8em;
  }
  .form{
    padding: 10px;
  }
}
