{% extends('layout.html') %}

{% block title %}Index{% endblock %}
{% block content %}
  <h3>Users</h3>
  <div class="user">
    <table class="table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Join Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user['id'] }}</td>
            <td>{{ user['first_name'] }} {{ user['last_name'] }}</td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['created_at'].strftime('%B %d, %Y %I:%M %p') }}</td>
            <td><a href="{{ url_for('edit', id=user['id']) }}">Edit</a> | <a href="{{ url_for('delete', id=user['id']) }}">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/users/new">Add a new user!</a>
  </div>
{% endblock %}
