{% extends 'users/layout.html' %}

{% block content %}
{% if request.session.user.user_level == 'Admin' %}
  <h3>Manage Users</h3>
  <a href="{% url 'users:new' %}">Add User</a>
{% else %}
  <h3>Users</h3>
{% endif %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Join Date</th>
      <th>User Level</th>
      {% if request.session.user.user_level == 'Admin' %}
      <th>Actions</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td><a href="{% url 'users:show' id=user.id %}">{{ user.first_name }} {{ user.last_name }}</a></td>
        <td>{{ user.email }}</td>
        <td>{{ user.created_at }}</td>
        <td>{{ user.user_level }}</td>
        {% if request.session.user.user_level == 'Admin' %}
        <td><a href="{% url 'users:edit' id=user.id %}">Edit</a><a href="{% url 'users:delete' id=user.id %}">Remove</a></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
