{% extends 'users/layout.html' %}

{% block content %}
<div class="form">
  <h3>Hey {{ user.first_name }}</h3>
  <form action='{% url "users:update_user" id=user.id %}' method="post">
    {% csrf_token %}
    {% include 'users/profile_form.html' %}
  </form>
  <form action='{% url "users:update_password" id=user.id %}' method="post">
    {% csrf_token %}
    {% include 'users/password_form.html' %}
  </form>
  <form action='{% url "users:update_description" id=user.id %}' method="post">
    {% csrf_token %}
    <label>Edit Description</label>
    <textarea name="description"></textarea>
    <button type="submit"></button>
  </form>
</div>
{% endblock %}
