<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <form method="post">
      <input type="text" name="name">
      <select name="location">
        <option value="chicago">Chicago</option>
        <option value="la">LA</option>
        <option value="basement">My Basement</option>
      </select>
      <select name="language">
        <option value="ruby">Ruby</option>
        <option value="js">Javascript</option>
        <option value="java">Java</option>
      </select>
      <textarea name="comment"></textarea>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
