<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Results</title>
  </head>
  <body>
    <h1><%= data.name %></h1>
    <h5><%= data.location %></h5>
    <h5><%= data.language %></h5>
  </body>
</html>
